<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>

<body>
    <div id="main">
        <div>
            <h4>Reset password for <%= email %>
            </h4>
        </div>

        <form id="resetform">
            <input type="password" id="pass1" minlength="8" placeholder="Password" required>
            <br><br>
            <input type="password" id="pass2" minlength="8" placeholder="Confirm password" required>
            <br><br>
            <button type="submit">Submit</button>
            <br><br>
        </form>
    </div>
    <div id="temp">
        <h3>Invalid link</h3>
    </div>
</body>
<script>
    const tempDiv = document.getElementById("temp")
    const mainDiv = document.getElementById("main")
    const statusOk = "<%-statusOk%>" === "true"
    const statusString = "<%-statusString%>"
    if (statusOk) {
        tempDiv.style.display = "none";
        function postData() {
            const pass1 = document.getElementById("pass1").value;
            const pass2 = document.getElementById("pass2").value;
            if (pass1.length <= 8 && pass1 !== pass2) {
                alert("Passwords do not match")
                return;
            }
            const user = {
                email: "<%-email%>",
                password: document.getElementById("pass1").value,
                link: "<%-link%>"
            }
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type':
                        'application/json;charset=utf-8',
                    'api-key': 'different'
                },
                body: JSON.stringify(user)
            }
            fetch(
                `${location.origin}/resetPassword`,
                options)
                .then(res =>
                    res.json()).then(d => {
                        if (d.statusOk) {
                            mainDiv.style.display = "none"
                            tempDiv.style.display = "block";
                            tempDiv.innerHTML = d.statusString
                        }
                    })
        }

        document.getElementById('resetform').onsubmit = () => {
            postData();
            return false;
        }
    } else {
        mainDiv.style.display = "none";
        tempDiv.innerHTML = statusString
    }
</script>

</html>